<div class="ow_page_wrap">
	<div class="ow_page_padding">
		<div class="ow_site_panel">
			{component class='BASE_CMP_Console'}
			<div class="ow_logo_wrap"><a href="http://myradio.su">{$siteName}</a></div>
		</div>
		<div class="ow_header">
		{*print_var var=$imageControlValues*}
			{if isset($imageControlValues.headerImage.src)}
				<div style="background: url({$imageControlValues.headerImage.src}) no-repeat; height: {$imageControlValues.headerImage.height}px;"></div>
			{else}
				<div class="ow_header_pic"></div>
			{/if}
			<div class="ow_menu_wrap">{$main_menu}</div>
		</div>
		<div class="ow_page_container">
			<div class="ow_canvas">
				<div class="ow_page ow_bg_color clearfix">
					{if !empty($heading)}<h1 class="ow_stdmargin {$heading_icon_class}">{$heading}</h1>{/if}
					<div class="ow_content">
						{add_content key='base.add_page_top_content'}
						{$content}
						{add_content key='base.add_page_bottom_content'}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ow_footer">
	<div class="ow_canvas">
		<div class="ow_page clearfix">
			{$bottom_menu}
			<div class="ow_copyright">
				{text key='base+copyright'}
			</div>
			<div style="float:right;padding-bottom: 30px;">
				{$bottomPoweredByLink}
			</div>
		</div>
	</div>
</div>    
{decorator name='floatbox'}