.buy_button
{
width:100%;
max-width:120px;
color:black;
text-shadow:none;
border:1px solid black;
border-radius:6px;
}
.buy_button:hover
{
width:100%;
max-width:120px;
color:black;
background:rgba(255,0,0,0.5);
text-shadow:none;
border:1px solid red;
border-radius:6px;
}