{*

/**
 * Copyright (c) 2013, Kairat Bakytow
 * All rights reserved.

 * ATTENTION: This commercial software is intended for use with Oxwall Free Community Software http://www.oxwall.org/
 * and is licensed under Oxwall Store Commercial License.
 * Full text of this license can be found at http://www.oxwall.org/store/oscl
 */
 
*}

<div class="profile-progressbar" id="profile-progressbar-{$userId}">
    <span class="profile-progressbar-caption"></span>
    <div class="profile-progressbar-complete"></div>
</div>
