{*

/**
 * Copyright (c) 2013, Kairat Bakytow
 * All rights reserved.

 * ATTENTION: This commercial software is intended for use with Oxwall Free Community Software http://www.oxwall.org/
 * and is licensed under Oxwall Store Commercial License.
 * Full text of this license can be found at http://www.oxwall.org/store/oscl
 */
 
*}

<table class="ow_table_1 ow_form ow_stdmargin" style="margin: 0">
    <tr class="ow_alt1">
        <td class="ow_label">{text key='profileprogressbar+progressbar_label'}</td>
        <td class="ow_value">
            <div id="profile-progressbar" class="profile-progressbar">
                <span class="profile-progressbar-caption"></span>
                <div class="profile-progressbar-complete"></div>
            </div>
        </td>
    </tr>
</table>
