a.ow_logo_wrap{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_21.png)}
a.ow_logo_wrap{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_21.png)}
.ow_balance_ico
{
width:auto;
}
.ow_balance_ico .ow_console_more
{
display:none;
}
.my_user_avatar .ow_console_more
{
display:none;
}