.ow_add_content:hover{color:#d40c0c}
.ow_add_content:hover{color:#d40c0c}
.b-mobile{background-color:#d40c0c}
.b-mobile{background-color:#d40c0c}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{border-color:#d40c0c}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{border-color:#d40c0c}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{background-color:#d40c0c}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{background-color:#d40c0c}
.ow_main_menu li a:hover , .ow_menu_wrap .ow_responsive_menu .ow_main_menu li.active a{background-color:#d40c0c}
.ow_main_menu li a:hover , .ow_menu_wrap .ow_responsive_menu .ow_main_menu li.active a{background-color:#d40c0c}
.ow_top_panel, .ow_chat_block .ow_bot_panel{background-color:#d40c0c}
.ow_top_panel, .ow_chat_block .ow_bot_panel{background-color:#d40c0c}
span.ow_button{background-color:#d40c0c}
span.ow_button{background-color:#d40c0c}
span.ow_button{border-color:#d40c0c}
span.ow_button{border-color:#d40c0c}
.ow_chat_dialog .ow_author_block{background-color:#d40c0c}
.ow_chat_dialog .ow_author_block{background-color:#d40c0c}
#pjaxcontainer > div.b-features > div > div > div:nth-child(3) > div > div{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_23.jpg)}
#pjaxcontainer > div.b-features > div > div > div:nth-child(3) > div > div{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_23.jpg)}
#pjaxcontainer > div.b-features > div > div > div:nth-child(2) > div > div{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_24.jpg)}
#pjaxcontainer > div.b-features > div > div > div:nth-child(2) > div > div{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_24.jpg)}
a, .ow_content a{color:#d40c0c}
a, .ow_content a{color:#d40c0c}
a.ow_logo_wrap{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_21.png)}
a.ow_logo_wrap{background-image:url(https://mymafia.su/ow_userfiles/themes/theme_image_21.png)}
.ow_balance_ico
{
width:auto;
}
.ow_balance_ico .ow_console_more
{
display:none;
}
.my_user_avatar .ow_console_more
{
display:none;
}