{form name='smile-add-category'}
    <table id="smileys-edit" class="ow_table_2">
        <tr class="ow_alt1">
            <td class="ow_td_label">{label name='smile-code'}</td>
            <td class="ow_td_value">{input name='smile-code'}<br> {error name='smile-code'}</td>
            <td class="ow_td_desc">{desc name='smile-code'}</td>
        </tr>
        <tr class="ow_alt2">
            <td class="ow_td_label">{label name='smile-file'}</td>
            <td class="ow_td_value">{input name='smile-file'}<br> {error name='smile-file'}</td>
            <td class="ow_td_desc">{desc name='smile-file'}</td>
        </tr>
        <tr class="ow_alt1">
            <td colspan="3">
                {submit name='save'}
            </td>
        </tr>
    </table>
{/form}
