/* general styles */

/* reset styles */

.agile_carousel img {border: 0;}

.agile_carousel p, .agile_carousel ul, .agile_carousel ul li {
margin: 0;
padding: 0;
}

/* agile carousel styles */

/* -----------------------------------*/
/*-- outer containers --*/
/* -----------------------------------*/

/*-- the most outer container rendered by JS 
Contains .slides .slide_content_... .persistent_content and controls that have "no_control_set" --*/

.agile_carousel {
position: relative;
overflow: hidden;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}

/*-- container for all slides only --*/

.agile_carousel .slides {
position: absolute;
top: 0;
left: 0;
}

/*-- individual slide --*/

.agile_carousel .slide {
float: left;
}


/* -----------------------------------*/
/*-- default style for controls --*/
/* -----------------------------------*/


/*-- default styles for all control sets --*/

.agile_carousel .control_set {
position: absolute;
z-index: 10;
}

/*-- default styles for all button containers --*/

.agile_carousel .button_container {
z-index: 5000;  
}

/*-- default style for controls whose trigger type is "hover" --*/

.agile_carousel .ac_hover {
cursor:text;    
}

/*-- default style for controls which are currently selected
such as the current slide number --*/

.agile_carousel .ac_selected {
}

/*-- default style for disabled controls 
"previous" and "next" controls may be disabled near the first/last slide --*/

.agile_carousel .ac_disabled {
}

/*-- style applied to all controls --*/

.slide_button {
z-index: 5000;
cursor: pointer;
display: block;
background-position: 0 0;
background-repeat: no-repeat;
position: relative;
}

/*-- previous button --*/

.previous_button {
}

/*-- next button --*/

.next_button {
}

/*-- hover previous button --*/

.hover_previous_button {
}

/*-- hover next button --*/

.hover_next_button {
}

/*-- numbered buttons container --*/

.agile_carousel .numbered_buttons_container {
}

/*-- numbered button --*/

.agile_carousel .numbered_button {
float: left;
}

/*-- grouped numbered buttons container --*/

.agile_carousel .grouped_numbered_buttons_container {
}

/*-- group numbered button --*/

.agile_carousel .grouped_numbered_button {
float: left;
}

/*-- content buttons container --*/

.agile_carousel .content_buttons_container {
}

/*-- content button --*/

.agile_carousel .content_button {
}

/*-- thumbnail buttons container --*/

.agile_carousel .thumbnail_buttons_container {
}

/*-- thumbnail button --*/

.agile_carousel .thumbnail_button {
}


/* -------------------------------------------- */
/*-- "things" that are not slides or controls --*/
/* -------------------------------------------- */

.current_slide_number {
cursor: text;
}

.slide_count {
cursor: text;
}

/* -------------------------------------------- */
/*-- #basic_slideshow styles --*/
/* -------------------------------------------- */

/*-- hide the captions --*/
#basic_slideshow .caption {
display: none;
}

/* -------------------------------------------- */
/*-- #carousel_flavor_3 styles --*/
/* -------------------------------------------- */

/*-- outer container --*/

#carousel_flavor_3 .agile_carousel {
overflow: hidden;
-moz-box-shadow: 0px 0px 4px #dfdfdf; /* FF3.5+ */
-webkit-box-shadow: 0px 0px 0px #dfdfdf; /* Saf3.0+, Chrome */
box-shadow: 0px 0px 4px #dfdfdf; /* Opera 10.5, IE9, Chrome 10+ */
}

/*-- hide the captions --*/
#carousel_flavor_3 .caption {
display: none;
}

/*-- .control_set_1 - includes: content_buttons --*/

#carousel_flavor_3 .control_set_1 {
position: absolute;
right: 0;
top: 0;
width: 208px;
height: 224px;
color: #fff;
}
#carousel_flavor_3 .content_button {
width: 208px;
height: 44px;
}
#carousel_flavor_3 .content_button_inner p {
float: left;
}
#carousel_flavor_3 .content_buttons_container .ac_selected {
background-image: url(sprite_ac_normal-1.png);
background-position: -245px 0;
}
#carousel_flavor_3 .content_button p {
opacity: 1;
vertical-align: auto;
float: left;
padding-right: 5px;
width: 138px;
line-height: 1.8;
}
#carousel_flavor_3 .content_button_inner {
background-color: #ff9db1;
width: 189px;
height: 43px;
border-bottom: 1px solid #d40c0c;
opacity: 0.8;
float: right;
overflow: hidden;
}
#carousel_flavor_3 .ac_selected .content_button_inner, #carousel_flavor_3 .ac_selected .content_button_inner:hover  {
opacity: 0.95;
}
#carousel_flavor_3 .content_button_inner:hover {
opacity: 0.9;
}
#carousel_flavor_3 .content_button img {
opacity: 1;
}
#carousel_flavor_3 .content_button .thumb {
width: 37px;
height: 37px;
overflow: hidden;
float: left;
z-index: 44;
border: 1px solid #d40c0c;
margin: 2px 2px 2px 0;
}

#carousel_flavor_3 .content_button .thumb_empty {
width:5px;
border:none;
border-seze:0;
background: transparent;
}