{style}
    .modal-content {
		display:inline-flex;
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
		border: 0.5px solid #000;
		float:right;
		margin-bottom:5px;
    }
	.lefty{
		float:left!important;
		width:49%!important;
	}
    .close-button {
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: #EDE734;
		display:inline-block;
		height:50%;
		margin-right:7px;
    }
{/style}

{$content}
{$menu}

<div class="ow_automargin ow_wide">
{form name="supportcenter_form_settings"}
	<table class="ow_table_1 ow_form" style="width:100%;">
	    <tr class="ow_tr_first">
	        <th class="ow_name ow_txtleft" colspan="3">
	            <span class="ow_section_icon ow_ic_gear_wheel">
	            	{text key="supportcenter+admin_general"}
	            </span>
	        </th>
	    </tr>
	    <tr class="{cycle values='ow_alt1, ow_alt2'}">
	    	<td style="width: 50%">
	    		{label name="menu_pos"}
	    	</td>
	    	<td>
	    		{input name="menu_pos"}
	    	</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+menu_pos_info"}
			</td>
	    </tr>
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td style="width: 50%">
				{label name="email_notif"}
			</td>
			<td>
				{input name="email_notif"}
			</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+email_notif_info"}
			</td>
		</tr>
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td style="width: 50%">
				{label name="help_forum"}
			</td>
			<td>
				{input name="help_forum"}
			</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+admin_help_forum_desc"}
			</td>
		</tr>
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td style="width: 35%;">
				{label name="help_url"}
			</td>
			<td style="width: 50%;">
				{input name="help_url"}
			</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+admin_help_forum_url_desc"}
			</td>
		</tr>
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td style="width: 50%">
				{label name="article_share"}
			</td>
			<td>
				{input name="article_share"}
			</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+admin_article_shares_desc"}
			</td>
		</tr>
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td style="width: 50%">
				{label name="rec_art"}
			</td>
			<td>
				{input name="rec_art"}
			</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+admin_recommended_art_desc"}
			</td>
		</tr>
		<tr class="{cycle values='ow_alt1, ow_alt2'}">
			<td style="width: 50%">
				{label name="k_order"}
			</td>
			<td>
				{input name="k_order"}
			</td>
			<td style="font-size:11.5px;">
				{text key="supportcenter+admin_korder_desc"}
			</td>
		</tr>
	</table>
	
    <div class="clearfix ow_submit ow_stdmargin">
    	<div class="ow_right">
        {submit name="submit"}
        </div>
    </div>
{/form}
</div>
