{style}
.title{
	font-size:20px;
}

a.tag{
	display:inline-block;
	padding:4px;
	border-radius: 10%;
	border: 1px solid;
	background-color: #808080;
	color: #fdfdfd;
	text-decoration:none;
	font-size: 12px;
}
.tag:hover{
	background-color: #ADADAD;
}
a.sharecta{
	display:inline-block;
	float:right;
	padding:5px;
	background-color: #8ADEFF;
	color: #fdfdfd;
	text-decoration:none!important;
	font-size:15.5px;
}

@media only screen and (max-width:980px){
	.article{
		width: 99%;
	}
	a.sharecta{
		float:none;
	}
}
{/style}
{$menu}

<div class="ow_column ow_right" style="width: 25%;">
{if $rec_con == "TRUE"}
{block_decorator name="box" iconClass="ow_ic_tag" label=$rec_arts}

<table class="ow_table_2">
	{if empty($recommended_articles)}
			<tr class="{cycle values='ow_alt1, ow_alt2'} {if $smarty.foreach.item.first}ow_tr_first{/if}{if $smarty.foreach.item.last}ow_tr_last{/if} ow_center">
		<td style="width: 90%;"><div>{text key="supportcenter+no_recs"}</div></td></tr>
	{/if}
{foreach from=$recommended_articles item="item"}
            <tr class="{cycle values='ow_alt1, ow_alt2'} {if $smarty.foreach.item.first}ow_tr_first{/if}{if $smarty.foreach.item.last}ow_tr_last{/if}">
				<td><a href="{$item.url_view}">{$item.title}</a></td>
			</tr>
			{/foreach}
		</table>

{/block_decorator}
{/if}

</div>

<div class="ow_column article" style="width: 73%;">
<div class="title"><strong>{$article.title}</strong></div><br>
<div>{$article.body}</div>
<br>
<hr />
<div>{text key="supportcenter+rate_art"}: </div>
<div id="rate" class="rating">&nbsp;</div>

<div>{text key="supportcenter+admin_tags"}: 
{foreach  from=$tags item="tag"}
<a href="tag/{$tag.id}" class="tag">{$tag.text}</a>
{/foreach}
&nbsp; {if $share_con == "TRUE"}<a id="sc_ajax_floatbox" href="javascript://" class="sharecta">{text key="supportcenter+share_this_article"}</a>{/if}
</div>
<br>
<span class="ow_button">
<input type="submit" class="ow_button" onclick="location.href='{$url_back}'" value='{text key="supportcenter+back"}' />
</span>
