{style}
.support_page{
	display:block;
	width:100%;
	padding:1px;
}

.support_search{
	display:inline-block;
	width:100%;
	text-align:center;
	background: #DEDEDE;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	height: 85px;
}
.search_td{
	width:100%!important;
}

.search_field{
	width: 100%!important;
	padding:5px;
}

{/style}
{$menu}
<div class="clearfix support_page">
	{form name="supportcenter_form_search"}
	<div class="support_search">
      <table class="ow_form ow_automargin" style="margin: 20px;">
            <tr>
                <td class="ow_value ow_valign_middle search_td">{input name='text' class='search_field'}<br />{error name='text'}</td>
                <td class="ow_submit ow_valign_middle">{submit name='submit'}</td>
            </tr>
        </table>
	</div>
	{/form}
    <div class="ow_column ow_right" style="width:35%;">
	{block_decorator name="box" iconClass="ow_ic_tag" label=$welcome}
		<div>{$welcome_msg}</div>
	{/block_decorator}
	{if $help_forum_con == 'TRUE'}
	{block_decorator name="box" iconClass="ow_ic_forum" label=$community_help}
		<div>{$hf_promo}</div>
	{/block_decorator}
	{/if}
	
	
        {block_decorator name="box" iconClass="ow_ic_tag" label=$text_article_menu}

	<table class="ow_table_1">
	<tr class="ow_alt1" >
	<td><a href="{$url_ticket_new}">{text key="supportcenter+submit_ticket"}</a></td></tr>
	<tr class="ow_alt1" >
	<td><a href="{$url_ticket_my}">{text key="supportcenter+my_tickets"}</a></td>
	</tr>
	</table>

        {/block_decorator}


    </div>
    <div class="ow_column" style="width:63%;">


        {block_decorator name="box" iconClass="ow_ic_edit" label=$top_articles}

        <table class="ow_table_2">
	        {foreach from=$top_articles_list item="item"}
            <tr class="{cycle values='ow_alt1, ow_alt2'} {if $smarty.foreach.item.first}ow_tr_first{/if}{if $smarty.foreach.item.last}ow_tr_last{/if}">
                <td style="width: 85%;">
                    <div class="ow_left ow_txtleft">
		        	<a href="{$item.url_view}">{$item.title}</a>
                    </div>
                </td>
        </tr>
	        {/foreach}
		<tr class="ow_tr_last ow_right">
			<td><a href="{$url_knowledgebase}">{text key="supportcenter+all_articles"}</a></td>
		</tr>
	</table>

        {/block_decorator}


    </div>



</div>




