<img src="" id="image_changed" />
<Script Language="JavaScript">
<!-- 
today = new Date()
if(today.getMinutes() < 10){ 
pad = "0"}
else 
pad = "";
document.write ;if((today.getHours() >=6) && (today.getHours() <=9)){
document.write("{$msg1}")
}
if((today.getHours() >=10) && (today.getHours() <=11)){
document.write("{$msg2}")
}
if((today.getHours() >=12) && (today.getHours() <=19)){
document.write("{$msg3}")
} 
if((today.getHours() >=20) && (today.getHours() <=23)){
document.write("{$msg4}")
}
if((today.getHours() >=0) && (today.getHours() <=3)){
document.write("{$msg5}")
}
if((today.getHours() >=4) && (today.getHours() <=5)){
document.write("{$msg6}")
}
// -->
</script>
</b></font>
{$displayname}
