{*

/**
 * Copyright (c) 2015, Kairat Bakytow
 * All rights reserved.

 * ATTENTION: This commercial software is intended for use with Oxwall Free Community Software http://www.oxwall.org/
 * and is licensed under Oxwall Store Commercial License.
 * Full text of this license can be found at http://www.oxwall.org/store/oscl
 */
 
*}

<div class="ow_superwide ow_automargin ow_stdmargin" style="width: 500px">
    {form name="save"}
        <table class="ow_table_1 ow_form">
            <tr>
                <td class="ow_label">{label name='color'}</td>
                <td class="ow_value ow_text_left">
                    {input name="color"}
                    {error name="color"}
                </td>
            </tr>
            <tr>
                <td class="ow_label">{label name='action'}</td>
                <td class="ow_value ow_text_left">
                    {input name="action"}
                    {error name="action"}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="ow_center">
                    {submit name="save"}
                </td>
            </tr>
        </table>
    {/form}
</div>
