.row [class^='col-md-'], .row [class^='col-lg-'] {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.panel.panel-default {
    border-top-color: #F5F5F5;
    border-top-width: 1px;
}
.panel {
    float: left;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    border-top: 2px solid #E5E5E5;
    margin-bottom: 20px;
    position: relative;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.panel-default {
    border-color: #dcdcdc;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel .panel-body.profile {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.panel .panel-body {
    padding: 15px;
    position: relative;

        padding-left: 0;
        padding-right: 0;
}
.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
    float: left;
    width: 100%;

        padding-left: 0;
        padding-right: 0;
}
.profile {
    width: 100%;
    float: left;
    padding: 15px 10px;
    position: relative;
    background: #7A8DA0;
}
.profile .profile-image {
    float: left;
    width: 100%;
    margin: 0px 0px 10px;
    text-align: center;

}
.profile .profile-image img {
    width: 150px;
    border: 3px solid #FFF;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
}
.profile .profile-data {
    width: 100%;
    float: left;
    text-align: center;
}
.profile .profile-data .profile-data-name {
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    text-align: center;

}

.profile .profile-data .profile-data-title {
    width: 100%;
    float: left;
    font-size: 11px;
    font-weight: 400;
    color: #404E5A;
    font-style: italic;
        text-align: center;
}

.contact-info {
    float: left;
    width: 100%;
        padding: 0 5px 0 5px;
}

.contact-info p {
    margin-bottom: 5px;
}
.contact-info small {
    font-weight: 700;
}


.profile .profile-data .profile-data-title {
        height: 16px;
    overflow: hidden;
}
