{*

/**
 * Copyright (c) 2015, Kairat Bakytow
 * All rights reserved.

 * ATTENTION: This commercial software is intended for use with Oxwall Free Community Software http://www.oxwall.org/
 * and is licensed under Oxwall Store Commercial License.
 * Full text of this license can be found at http://www.oxwall.org/store/oscl
 */
 
*}

<div id="smileys-panel" class="smileys_panel smileys_tooltip_top_right" style="width: {$width}px">
    {if !$isSingle}
        <div class="smileys_tooltip_body clearfix" style="padding: 0">
            <div class="smile_tab_container_top">
                {foreach $captions as $id => $caption}
                    <a href="javascript://" class="smileys_tab smileys" data-category-id="{$id}">
                        <img src="{$url}{$caption}" data-title="{$caption}" class="smileys" />
                    </a>
                {/foreach}
            </div>
            {foreach $smileys as $id => $smile}
                <div class="clearfix smilyes_category" id="smilyes-category-{$id}" data-category-id="{$id}" style="display: none">
                    {foreach $smile as $s}
                        <img src="{$url}{$s->name}" data-title="{$s->code}" data-code="{$s->code}" />
                    {/foreach}
                </div>
            {/foreach}
            <div class="smile_tab_container_bottom">
                {foreach $captions as $id => $caption}
                    <a href="javascript://" class="smileys_tab smileys" data-category-id="{$id}">
                        <img src="{$url}{$caption}" data-title="{$caption}" class="smileys" />
                    </a>
                {/foreach}
            </div>
        </div>
    {else}
        <div class="smileys_tooltip_body" style="padding: 0">
            <div class="clearfix smilyes_category" id="smilyes-category-0" data-category-id="0" style="display: none">
                {foreach $smileys as $smile}
                    <img src="{$url}{$smile->name}" data-title="{$smile->code}" data-code="{$smile->code}" />
                {/foreach}
            </div>
        </div>
    {/if}
</div>
