
    {form name='infSaveForm'}

    <table class="ow_table_1 ow_form">
        <tr class="ow_tr_first">
            <th class="ow_name ow_txtleft" colspan="3">
                <span class="ow_section_icon ow_ic_gear_wheel">{text key='smtinfo+general_settings'}</span>
            </th>
        </tr>
        <tr class="ow_alt1 ow_tr_last">
            <td class="ow_label">{text key='smtinfo+color_bg_code'}</td>
            <td class="ow_value">
                {input name='colorbg'}  <br /> {error name='colorbg'}
            </td>
            <td class="ow_desc ow_small">{text key='smtinfo+colorbg_description'}</td>
        </tr>
    </table>
    <div class="clearfix ow_submit ow_smallmargin"><div class="ow_right">{submit name='save' class='ow_ic_save ow_positive'}</div></div>

    {/form}