<div class="ow_header">
	<div class="ow_canvas">
		<div class="ow_page" style="position:relative;height:105px;">
			{component class='BASE_CMP_Console'}
	    	<div class="ow_logo">
	            <h2><a href="{$siteUrl}">{*$siteName*}</a></h2>
	            <div class="ow_tagline">{*$siteTagline*}</div>
	        </div>
	       {$main_menu}
		</div>
    </div>
</div>
<div class="ow_page_container">
	<div class="ow_announce">
		<h1>Announce :</h1>
		</br>
		You can edit this text in modify /ow_themes/smoky/master_pages/dndindex.html 
	</div>
	</br>
	<div class="ow_canvas">
		<div class="ow_page clearfix">
		    {if $heading}<h1 class="ow_stdmargin {$heading_icon_class}">{$heading}</h1>{/if}
	        <div class="ow_dndindex clearfix">
    	        {$content}
    	    </div>
		</div>
	</div>
</div>
<div class="ow_footer">
	<div class="ow_canvas">
		<div class="ow_page clearfix">
			{$bottom_menu}
			<div class="ow_copyright">
				{text key='base+copyright'}
			</div>
			<div style="float:right;padding-bottom: 30px;">
				{$bottomPoweredByLink}
			</div>
		</div>
	</div>
</div>    
{decorator name='floatbox'}