{*

/**
 * Copyright (c) 2013, Kairat Bakytow
 * All rights reserved.

 * ATTENTION: This commercial software is intended for use with Oxwall Free Community Software http://www.oxwall.org/
 * and is licensed under Oxwall Store Commercial License.
 * Full text of this license can be found at http://www.oxwall.org/store/oscl
 */
 
*}

{$menu}

{form name="hint-form"}
    <form action="" method="POST">
        <table class="ow_table_1 ow_form">
            <tr class="ow_tr_first ow_txtleft">
                <th colspan="3">Settings</th>
            </tr>

            <tr class="ow_alt1">
                <td class="ow_label">{label name="show-hint"}</td>
                <td class="ow_value">{input name="show-hint"}</td>
                <td class="ow_desc">{desc name="show-hint"}</td>
            </tr>
            
            <tr class="ow_alt2">
                <td class="ow_label">{label name="hint-text"}</td>
                <td class="ow_value">{input name="hint-text"}<br />{error name="hint-text"}</td>
                <td class="ow_desc">{desc name="hint-text"}</td>
            </tr>
            
            <tr class="ow_alt1">
                <td colspan="3" class="ow_center">
                    {submit name="save"}
                </td>
            </tr>
        </table>
    </form>
{/form}

<table class="ow_table_2">
    <tr class="ow_tr_first ow_txtleft">
        <th>Preview</th>
    </tr>
    <tr>
        <td>
            <div class="profile-progressbar" id="profile-progressbar">
                <span class="profile-progressbar-caption">69%</span>
                <div class="profile-progressbar-complete" style="width: 69%;"></div>
            </div>
        </td>
    </tr>
</table>
