{$menu}
<div class="ow_automargin ow_wide">
{form name='form-config'}

<table class="ow_table_1 ow_form">
    <tr>
        <th class="ow_name ow_txtleft" colspan="2">
            <span class="ow_section_icon ow_ic_forum">{text key='mostratedblogs+general_settings'}</span>
        </th>
    </tr>
    <tr class="ow_alt{cycle values='1,2'}">
        <td class="ow_label" style="width: 50%;">{label name='counter'}</td>
        <td class="ow_value">
            {input name='counter' class='ow_settings_input'} <br />
        </td>
    </tr>
    <tr><td colspan="2" class="ow_submit">{submit name='save'}</td></tr>
</table>

{/form}
</div>