<!-- BEGIN - EMBED Channel FROM Come2Play.com -->
<iframe src="http://www.come2play.com/appGame/AllGames.aspx?channel_id=928192" width="762" height="1230" frameborder="0" scrolling="no" allowtransparency="true" ></iframe>
<div id="c2p" style="text-align:center;width:762;font-family:Tahoma,Arial,sans- serif;font-size:11px;"><a href="http://www.come2play.com/shared/affiliation/setAffiliate.asp?channel_id=928192&next_url=http%3A%2F%2Fwww%2Ecome2play%2Ecom%2Fpublisher%2Easp" target="_blank" >Come<span>2</span>Play</a> - Create your gaming channel</div>
<!-- END - EMBED Channel FROM Come2Play.com -->


<!-- Come2Play Triangle Start  -->
<div style="clear:both;">
    <a id="c2pTriangleLink" href="#" title="Backgammon" style="right:0; bottom:0; cursor:pointer; position:fixed !important">
    <img id="c2pTriangle" alt="Backgammon" src="http://static.come2play.net/c2psiteimages/triangle/pixel.gif" height="0" width="0" border="0">
    </a>
</div>
<script type="text/javascript">
    var c2pChannel = 928192; // INTEGER, canont be null 
    var c2pLink = "http://a6.pl/gamesplus"; //STRING, cannot be null      
    var c2pGame = null; // INTEGER, can be null
    var c2pLang = null; // STRING, can be null
    var c2pFixedImageNumber = null; // INTEGER, can be null
</script>   
<script type="text/javascript" src="http://static.come2play.net/shared/api/triangle/triangle.js"></script>
<!-- Come2Play Triangle End -->