<CENTER>
    <img src="https://i.pinimg.com/originals/1d/3b/8e/1d3b8e3c20793a25a32de080956cb41a.png" style="max-width:200px;">
    <BR><BR>
    <h2>Оплата проведена, кредиты будут зачислены на ваш счет.</h2>
</CENTER>