{style}
{literal}
.buy_button
{
width:100%;
max-width:120px;
color:black!important;
text-shadow:none!important;
border:1px solid black!important;
border-radius:6px!important;
}
.buy_button:hover
{
box-shadow: 0 0 8px 0 rgba(0,0,0,1);
}
{/literal}
{/style}
<script>
$( document ).ready(function() {
  $('#cr_ch').change(function() {
  var cr=$('#cr_ch').val();
$('#rub').html('за '+cr+' рублей');
$('#lnk').html("Подождите");
 $.ajax({
  url: '//mymafia.su/buy_link?cr='+cr,
  success: function(data)
  {
      $('#lnk').html(data);
  }
       });
});
});


</script>
<CENTER>
<table style="border-spacing: 10px;border-collapse: separate;">
    <tr onClick="window.location.href='https://google.ru'" style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
        <td>
            <img src="//mymafia.su/logo_files/moneta.png" width=80px>
        </td>
        <td>
            <BR>
         <h2>Купить 10 кредитов</h2>  
         <p>за 10 рублей</p>
         {$link1}
        </td>
    </tr>
   <tr style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
        <td>
            <img src="//mymafia.su/logo_files/moneta.png" width=80px>
        </td>
        <td>
            <BR>
         <h2>Купить 100 кредитов</h2>  
         <p>за 100 рублей</p>
         {$link2}
        </td>
    </tr>
     <tr style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
        <td>
            <img src="//mymafia.su/logo_files/moneta.png" width=80px>
        </td>
        <td>
            <BR>
         <h2>Купить 500 кредитов</h2>  
         <p>за 500 рублей</p>
         {$link3}
        </td>
    </tr>
 <tr style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
        <td>
            <img src="//mymafia.su/logo_files/moneta.png" width=80px>
        </td>
        <td>
            <BR>
         <h2>Купить <input id="cr_ch" type="number" value=200 min=1 max=10000> кредитов</h2>  
         <p id="rub">за 200 рублей</p>
         <div id="lnk">
           {$link4}  
         </div>
         
        </td>
    </tr>
    
</table>
</CENTER>
<hr>
<CENTER>
<img src="https://vshk.ru/upload/medialibrary/bb1/bb1adfe2d4e71919616a7c71728dabc3.png" style="width:70%;max-width:450px;">
</CENTER>