{style}
{literal}
.items
{
border:1px solid gray;
border-radius:15px;
position: relative;
background: linear-gradient(45deg, #f5f5f5, white);
}
.items:hover
{
box-shadow: 0 0 4px 0 rgba(0,0,0,0.7);
}

{/literal}
{/style}

<CENTER><h2>Тарифы</h2></CENTER><hr>
<CENTER>
    

    {$i=99} 

<table style="text-align:center;border-spacing: 10px;border-collapse: separate;">
    {foreach from=$rad_items item='shop_item'}
    {$i=$i+1}
    {if ($i>4)}
    {$i=0}
    {if ($i!=99)}
    </tr>
    {/if}
    <tr>
    {/if}
    
        <td class="items" style="{$shop_item->style}width:200px;" onClick="{$shop_item->click}">
         
            <img src="{$shop_item->src}" width=100px>
            <BR>
                <b>{$shop_item->iname}</b>
                {if ($shop_item->price>0)}
            <div style="position:absolute;bottom:-10px;padding:15px;right:-10px;border-radius:100%;color:white;background-image:url(https://avatanplus.com/files/resources/original/568f4ccb5fb5e1521fc3fa80.png);background-size:100%;">
            
            
            {if ($shop_item->price-$shop_item->tps<0)}
            <font style="font-size:30px;">+{$shop_item->tps-$shop_item->price}</font><p>кр./мес.</p> 
            {else}
            <font style="font-size:30px;">{$shop_item->price-$shop_item->tps}</font><p>кр./мес.</p> 
            {/if}
              
            </div>
            {/if} 
            <hr>
            {$shop_item->des}
            <BR><BR>
        </td>
        {if ($i>4)}
    
    
    {/if}
    
    {/foreach}
</table>
</CENTER>
<BR><BR>
<CENTER><h2>Опции</h2></CENTER><hr>
<CENTER>
   {$i=99} 

<table style="text-align:center;border-spacing: 10px;border-collapse: separate;">
    {foreach from=$op_items item='shop_item'}
    {$i=$i+1}
    {if ($i>3)}
    {$i=0}
    {if ($i!=99)}
    </tr>
    {/if}
    <tr>
    {/if}
    
        <td class="items" style="{$shop_item->style}width:150px;" onClick="{$shop_item->click}">
         
            <img src="{$shop_item->src}" width=100px>
            <BR>
                <b>{$shop_item->iname}</b>
            <hr>
            {$shop_item->des}
            <BR><BR><BR>
                {if ($shop_item->price>0)}
             <div style="position:absolute;bottom:-23px;padding:13px;right:-28px;border-radius:100%;background-repeat:no-repeat;color:white;background-image:url(https://avatanplus.com/files/resources/original/568f4ccb5fb5e1521fc3fa80.png);background-size:100%;">
             <font style="font-size:30px;">{$shop_item->price}</font><p>кр.</p>   
               
            </div>
            {/if}
        </td>
        {if ($i>4)}
    
    
    {/if}
    
    {/foreach}
</table>
</CENTER>    
    
    
