<style>
    .items
    {
        font-size:24px;
        line-height:80px;
    }
</style>

<CENTER><h2>Рейтинги</h2></CENTER><hr>
<CENTER>
    

<table style="text-align:center;border-spacing: 10px;border-collapse: separate;">
    <tr>
        <th>Место</th>
        <th>Аватар</th>
        <th>Ник</th>
        <th>Уровень</th>
    </tr>
    {foreach from=$users item='user'}
   
    <tr>
        <td class="items">
         {$i++}  
        </td>
         <td class="items">
         <img src="https://cdn3.iconfinder.com/data/icons/gray-user-toolbar/512/managers-512.png" width=80px> 
        </td>
        
        <td class="items">
         {$user->nick}
        </td>
         <td class="items">
         {$user->level}
        </td>
        </tr>
    {/foreach}
</table>
</CENTER>
