{$menu}

<div class="ow_std_margin clearfix">
    {form name='smileys-settings'}
        <table class="ow_table_1 ow_form" style="margin: 0">
            <tbody>
                <tr class="ow_alt1'">
                    <td width="1" class="ow_label">
                        {label name='width'}
                    </td>
                    <td class="ow_value">
                        {input name='width'}
                        {error name='width'}
                    </td>
                </tr>

                <tr class="ow_tr_last ow_center">
                    <td colspan="2">
                        {submit name='save'}
                    </td>
                </tr>
            </tbody>
        </table>
    {/form}
</div>

<div id="smileys-panel-admin" class="smileys_tooltip_top_right" style="width: {$width}px">
    {if !$isSingle}
        <div class="smileys_tooltip_body clearfix" style="padding: 0">
            <div class="smile_tab_container_top">
                {foreach $captions as $id => $caption}
                    <a href="javascript://" class="smileys_tab smileys" data-category-id="{$id}">
                        <img src="{$url}{$caption}" data-title="{$caption}" class="smileys" />
                    </a>
                {/foreach}
            </div>
            {foreach $smileys as $id => $smile}
                <div class="clearfix smilyes_category" id="admin-smilyes-category-{$id}" data-category-id="{$id}" style="display: none">
                    {foreach $smile as $s}
                        <img src="{$url}{$s->name}" data-title="{$s->code}" data-code="{$s->code}" />
                    {/foreach}
                </div>
            {/foreach}
        </div>
    {else}
        <div class="smileys_tooltip_body" style="padding: 0">
            <div class="clearfix smilyes_category">
                {foreach $smileys as $smile}
                    <img src="{$url}{$smile->name}" data-title="{$smile->code}" data-code="{$smile->code}" />
                {/foreach}
            </div>
        </div>
    {/if}
</div>

{script}{literal}

;(function( $ )
{
    $(document.forms['smileys-settings']['width']).on("input", function()
    {
        var width = +this.value || 40;
        $(document.getElementById("smileys-panel-admin")).css("width", width + "px");
    });
    
    tabs = $('.smileys_tab', document.getElementById('smileys-panel-admin'));
    
    tabs.on('click', function()
    {
        tabs.removeClass('active');
        $(this).addClass('active');
        showCategory(this.getAttribute('data-category-id'));
    });
    tabs.eq(0).trigger('click');
    
    function showCategory( id )
    {
        if ( !id ) return;
        
        $('.smilyes_category', document.getElementById('smileys-panel-admin')).hide();
        $('#admin-smilyes-category-' + id).show();
    }
})(jQuery);

{/literal}{/script}
