{form name='uptolike_settings'}
	<table class="ow_table_1 ow_form ow_automargin">
    <colgroup>
       <col span="1" style="width: 9%;">
       <col span="1" style="width: 11%;">
       <col span="1" style="width: 80%;">
    </colgroup>
		<tr class="ow_tr_first">
			<th class="ow_name ow_txtleft" colspan="3">
				<span class="ow_section_icon ow_ic_gear_wheel">{text key='uptolike+u_script_label'}</span>
			</th>
		</tr>
		<tr class="ow_alt1 ow_tr_last">
			<td class="ow_label">{label name='u_script'}</td>
			<td class="ow_value">{input name='u_script' style='width:300px'}{error name='u_script'}</td>
			<td class="ow_desc">{desc name='u_script'}</td>
		</tr>

	</table>
	
	
	<div class="clearfix ow_submit ow_smallmargin">
		<div class="ow_right">
			{submit name='submit' class='ow_button ow_ic_save'}
		</div>
	</div>
{/form}