<a href="{$curent_url_chatter}" style="display: inline-block;background: inherit;" class="ow_console_item_link chatter_ping_below" id="chatter_ping_below">{$label}</a>
<input type="hidden" name="chater_last_id" id="chater_last_id" value="">
<span {if empty($counter.number)}style="display: none;"{/if} class="ow_count_wrap OW_ConsoleItemCounter" >
    <span class="{if $counter.active}ow_count_active{/if} ow_count_bg OW_ConsoleItemCounterPlace">
        <span class="ow_count OW_ConsoleItemCounterNumber" {if empty($counter.number)}style=""{/if}>{$counter.number}</span>
    </span>
</span>