{foreach from=$tblogs item='blogs'}
<div class="" style="float:left;">
	<div class="ow_ipc ow_stdmargin clearfix">

		<div class="ow_ipc_picture">
			{decorator name=avatar_item data=$avatars[$blogs->authorId]}
		</div>
		<div class="ow_ipc_info">
			<div class="ow_ipc_header">
				{text key='mostratedblogs+label_title'} <a href="{$url}/{$blogs->id}">{$blogs->title} </a>
			</div>
			<div class="ow_ipc_content">
				{text key='mostratedblogs+label_rate'} <span class="ow_txt_value">{$blogs->t}</span>
			</div>
		</div>
	</div>
</div>
{/foreach}
