{style}
	{literal}

body>.ow_page_wrap {
    overflow: hidden;
}
body > div.ow_page_wrap > div > div {
    overflow-x: hidden !important;
}
		
	{/literal}
{/style}





<div class="ow_page_wrap">
	<div class="ow_page_padding">
		{$content}
	</div>
</div>

<div class="ow_footer">
	<div class="ow_canvas">
		<div class="ow_page clearfix"></div>
{$bottom_menu}
			<div class="ow_copyright">
				{text key='base+copyright'}
			</div>
			<div style="float:none;padding-bottom: 30px;">
				{$bottomPoweredByLink}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.ow_sign_up').after($('.ow_sign_in'));
	$('<div class="clearfix"></div>').appendTo($('.ow_sign_in'));
	$('.ow_sign_in > .clearfix').append($('.ow_form_options .ow_button'));
	$('.ow_sign_in > .clearfix').append($('.ow_sign_up p:last-child a'));
	$('.ow_sign_in > .clearfix').after($('.ow_connect_buttons '));
</script>