<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	    	<script src="//mymafia.su/logo_files/logo.js"></script>
<script src="//mymafia.su/logo_files/anim.js"></script>
<div class="ow_page_wrap">
	<div class="ow_menu_fullpage">
	
	</div>
          <div class="ow_page_padding">

<div class="ow_nav_btn"></div>
		<div class="ow_site_panel">
			<div class="ow_menu_wrap">{component class='BASE_CMP_MainMenu' responsive=true}</div>
			{component class='BASE_CMP_Console'}<a class="ow_logo_wrap" href="{$siteUrl}"></a>
		</div>
		   	<div style="position: relative;width:100%;overflow:hidden;min-height:122px;background:white;" id="anim_body">
	
	<div id="animation_container" style="display:none;border-bottom:2px solid red;margin-top:0px;background-color:rgba(255, 255, 255, 1.00);">
		<canvas id="canvas" style="margin:0px;position: absolute;overflow:hidden; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
		<div id="dom_overlay_container" style="margin:0px;pointer-events:none; overflow:hidden; position: absolute; left: 0px; top: 0px; display: block;">
		</div>
	</div>
</div>
		<div class="ow_page_container">
			<div class="ow_canvas">
			 
				<div class="ow_page ow_bg_color clearfix" style="padding-top:10px;">
					<h1 class="ow_stdmargin {$heading_icon_class}">{$heading}</h1>
					<div class="ow_content">
						{add_content key='base.add_page_top_content'}
						{$content}
						{add_content key='base.add_page_bottom_content'}
					</div>
                                    <div class="ow_sidebar">
					{component class="BASE_CMP_Sidebar"}
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ow_footer">
	<div class="ow_canvas">
		<div class="ow_page clearfix">
			{$bottom_menu}
			<div class="ow_copyright">
				{text key='base+copyright'}
			</div>
			<div class="attribution">
				{$bottomPoweredByLink}
			</div>
		</div>
	</div>
</div>    
{decorator name='floatbox'}
<script type="text/javascript">
	$('.ow_sign_up').after($('.ow_sign_in'));
	$('<div class="clearfix"></div>').appendTo($('.ow_sign_in'));
	$('.ow_sign_in > .clearfix').append($('.ow_form_options .ow_button'));
	$('.ow_sign_in > .clearfix').append($('.ow_sign_up p:last-child a'));
	$('.ow_sign_in > .clearfix').after($('.ow_connect_buttons '));
</script>

<script type="text/javascript">
	$(window).scroll(function() {
	var $menuwrappos = $('.ow_menu_wrap').offset().top;
    if ($(this).scrollTop() > $menuwrappos) { 
        $('.ow_page_wrap').addClass('ow_hidden_menu');
    }
    else {
    	$('.ow_page_wrap').removeClass('ow_hidden_menu');
    }
	});
	$('.ow_nav_btn').click(function() {
    	if ($('body').hasClass('ow_menu_active')) {
    		$('body').removeClass('ow_menu_active');
    	}
    	else {
    		$('body').addClass('ow_menu_active');
    	}
    })
    $('.ow_menu_fullpage_wrap a').click(function() {
    	$('body').removeClass('ow_menu_active');
    })
</script>