<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="//mymafia.su/logo_files/logo.js"></script>
<script src="//mymafia.su/logo_files/anim.js"></script>
<div class="ow_page_wrap">
	<div class="ow_menu_fullpage">
		<div class="ow_menu_fullpage_wrap">{$main_menu}</div>
	</div>
	<div class="ow_page_padding">

		<div class="ow_nav_btn"></div>

		<div class="ow_site_panel">
			<div class="ow_menu_wrap" id="main_menu">{component class='BASE_CMP_MainMenu' responsive=true}</div>
			{component class='BASE_CMP_Console'}
			<a class="ow_logo_wrap" href="{$siteUrl}" style="background:#556270;">
				<CENTER>
					<div id="animation_container" style="margin-top:8px;">
						<canvas id="canvas" style="margin:0px;position: absolute;overflow:hidden; display: block;"></canvas>
						<div id="dom_overlay_container"
							style="margin:0px;pointer-events:none; overflow:hidden; position: absolute; left: 0px; top: 0px; display: block;">
						</div>

					</div>
				</CENTER>

			</a>
		</div>


		<div style="position:fixed;top:55px;text-align:center;opacity:1;z-index:0;" id="news_banner">

			<CENTER>

			</CENTER>
		</div>
		<script>
			function render_news() {
				var scr_width = document.body.clientWidth;
				if (scr_width < 600) {
					$('#news_banner').css("display", "none");
				}
				var menu_obj = document.getElementById('main_menu');
				var menu = menu_obj.offsetTop + menu_obj.clientHeight;
				var item_w = scr_width / 10;
				item_w = item_w - 4;
				var my_height = 0;
				var num = 0;
				var num_global = 0;
				while (my_height < 300) {

					num++;
					num_global++;
					if (num > 9) {
						my_height += item_w;
						num = 0;
					}
					$('#news_banner').append('<div data-toggle="tooltip" id="item_' + num_global +
						'" title="" style="opacity:0.2;width:' + item_w + 'px;height:' + item_w +
						'px;display:inline-block;position:relative;border:1px solid rgba(55,55,55,0.2);"></div>');


				}

				$('#news_banner').css("top", menu + "px");

				$.ajax({
					url: 'https://mymafia.su/mapi?requests=get_news',
					success: function (data) {

						num = 0;
						var post = JSON.parse(data);
						post.forEach(function (item, i, arr) {

								num++;
								if (num < num_global) {
									if (scr_width > 1000) {
										$('#item_' + num).html('<div style="position:absolute;bottom:10px;right:10px;color:white;">' +
											item.login + '</div>');
									}

									function getRandomInt(min, max) {
										return Math.floor(Math.random() * (max - min + 1)) + min;
									}

									$('#item_' + num).animate({
										opacity: 1
									}, getRandomInt(1000, 8000));
									$('#item_' + num).css('background', 'url(' + item.ava + ')');
									$('#item_' + num).attr('title', item.txt);
								}

							}





						);

					}

				});

			}



			render_news();
			$(window).scroll(function (event) {
				var scroll = $(window).scrollTop();

				var op = 1 - scroll / 200;
				if (op < 0) {
					op = 0;
				}
				$('#news_banner').css('opacity', op);
			});
		</script>
		<div class="ow_page_container">
			<div class="ow_canvas">
				<div class="ow_page ow_bg_color clearfix">



					<h1 class="ow_stdmargin {$heading_icon_class}">{$heading}</h1>
					<div class="ow_content" style="background-color: #ECEFF1;z-index:99;">
						{add_content key='base.add_page_top_content'}
						{$content}
						{add_content key='base.add_page_bottom_content'}
					</div>
					<div class="ow_sidebar" style="z-index:99;">
						{component class="BASE_CMP_Sidebar"}


					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ow_footer">
		<div class="ow_canvas">
			<div class="ow_page clearfix">
				{$bottom_menu}
				<div class="ow_copyright">
					{text key='base+copyright'}
				</div>
				<div class="attribution">
					{$bottomPoweredByLink}
				</div>
			</div>
		</div>
	</div>
	{decorator name='floatbox'}
	<script type="text/javascript">
		$('.ow_sign_up').after($('.ow_sign_in'));
		$('<div class="clearfix"></div>').appendTo($('.ow_sign_in'));
		$('.ow_sign_in > .clearfix').append($('.ow_form_options .ow_button'));
		$('.ow_sign_in > .clearfix').append($('.ow_sign_up p:last-child a'));
		$('.ow_sign_in > .clearfix').after($('.ow_connect_buttons '));
	</script>

	<script type="text/javascript">
		$(window).scroll(function () {
			var $menuwrappos = $('.ow_menu_wrap').offset().top;
			if ($(this).scrollTop() > $menuwrappos) {
				$('.ow_page_wrap').addClass('ow_hidden_menu');
			} else {
				$('.ow_page_wrap').removeClass('ow_hidden_menu');
			}
		});
		$('.ow_nav_btn').click(function () {
			if ($('body').hasClass('ow_menu_active')) {
				$('body').removeClass('ow_menu_active');
			} else {
				$('body').addClass('ow_menu_active');
			}
		})
		$('.ow_menu_fullpage_wrap a').click(function () {
			$('body').removeClass('ow_menu_active');
		})
	</script>


	<script type="text/javascript" src="ow_static/themes/fitbit-3d/js/theia-sticky-sidebar.js"></script>

	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('.ow_content, .ow_left.place_section.ow_column ').theiaStickySidebar({
				// Settings
				additionalMarginTop: 59
			});
		});
	</script>