{style}
{literal}
    .topuser_cont {
        display: inline-block; 
        width: 70px;
        margin: 5px;
        text-align: center;
    }
    
    .topuser_cont .ow_avatar,
    .topuser_cont .ow_avatar img {
        width: 70px;
        height: 70px;
    }
{/literal}
{/style}
xxxxxxxxxxxxxxxxxxx
<div class="clearfix ow_center">
{foreach from=$list item='user'}
    {capture assign='userId'}{$user.dto->id}{/capture}
    <div class="topuser_cont">
	    {decorator name='avatar_item' data=$avatars[$userId]}
	    {if $scores[$userId]}{display_rate avg_rate=$scores[$userId]}{/if}
    </div>
{/foreach}
</div>