<div id="{$data.cmpId}" class="oac_vote_cont clearfix">
<div style="float:right;">
    <span class="ow_newsfeed_btn_wrap"{if !$cfg.ctrl} style="display:none;"{/if}>
        <span class="ow_miniic_control ow_cursor_pointer oac_vote_up">
            <span class="ow_miniic_like"></span>
        </span><span class="oa_votes_count_up">{$data.up}</span>
    </span>

    <span class="ow_newsfeed_btn_wrap"{if !$cfg.ctrl} style="display:none;"{/if}>
        <span class="ow_miniic_control ow_cursor_pointer oac_vote_down">
            <span class="ow_miniic_like"></span>
        </span><span class="oa_votes_count_down">{$data.down}</span>
    </span>
    <span class="ow_newsfeed_btn_wrap oac_total_votes{if $data.total>0} ow_green{elseif $data.total<0} ow_red{/if}">{if $data.total>0}+{/if}{$data.total}</span>
</div>
</div>