{component class="OA_CCLASS_AdminLogo" key=$key build=$pluginBuild}
<div style="height: 40px;"></div>
{form name='config_form'}
	<table class="ow_table_1 ow_form">
	    <tr>
	        <th class="ow_name ow_txtleft" colspan="3">
	            <span class="ow_section_icon ow_ic_gear_wheel">{text key="oacvote+admin_settings_section_label"}</span>
	        </th>
	    </tr>
	    <tr class="{cycle values='ow_alt1, ow_alt2'}">
            <td class="ow_label">
	    		{label name='display_controls'}
	    	</td>
            <td class="ow_value">
	    		{input name='display_controls'}
	    	</td>
            <td class="ow_desc">{desc name='display_controls'}</td>
	    </tr>
        <tr class="{cycle values='ow_alt1, ow_alt2'}">
            <td class="ow_label">
	    		{label name='negative_action'}
	    	</td>
            <td class="ow_value">
	    		{input name='negative_action'}
	    	</td>
            <td class="ow_desc">{desc name='negative_action'}</td>
	    </tr>
        <tr class="{cycle values='ow_alt1, ow_alt2'}">
            <td class="ow_label">
	    		{label name='action_level'}
	    	</td>
            <td class="ow_value">
	    		{input name='action_level'}
	    	</td>
            <td class="ow_desc">{desc name='action_level'}</td>
	    </tr>
        <tr class="{cycle values='ow_alt1, ow_alt2'}">
            <td class="ow_label">
	    		{label name='use_votes_for'}
	    	</td>
            <td class="ow_value">
	    		{input name='use_votes_for'}
	    	</td>
            <td class="ow_desc">{desc name='use_votes_for'}</td>
	    </tr>
        <tr class="{cycle values='ow_alt1, ow_alt2'}">
            <td class="ow_label">
	    		{text key='oacvote+user_list_settings_label'}
	    	</td>
            <td class="ow_value">
                {input name='allow_common_user_list'} {text key='oacvote+allow_common_user_list_admin_label'}<br />
	    		{input name='allow_negative_user_list'} {text key='oacvote+allow_negative_user_list_admin_label'}</br>
                {input name='allow_positive_user_list'} {text key='oacvote+allow_positive_user_list_admin_label'}
	    	</td>
            <td class="ow_desc">{text key='oacvote+user_list_settings_desc'}</td>
	    </tr>
	    <tr>
	    	<td colspan="3" class="ow_center">
	    		{submit name="submit" class="ow_ic_save"}
	    	</td>
	    </tr>
	</table>
{/form}