.sub_800 {
    width: 800px;
    width: 100%;
    display:inline-block;
    margin:auto;
    float: left;
    padding: 0px;
    font-family: Open Sans, Verdana,Roboto Condensed;
}
.nt_529x317 {
    width: 529px;
    height: 317px;
}
.navthumb {
    float: left;
    margin-top: 13px;
    position: relative;
    font-weight: normal;
    overflow: hidden;
}
.marginr13 {
    margin-right: 13px !important;
}
.nt_529x317 .img {
    width: 529px;
    height: 317px;
}
.navthumb A {
    color: #fff;
}
.navthumb IMG {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.nt_529x317 .title {
    font-size: 36px;
    line-height: 40px;
    width: 509px;
    padding: 10px 10px;
}
.navthumb .title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    text-shadow: 1px 1px 2px #000;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0% 0% transparent;
}
.nt_258x152 {
    width: 258px;
    height: 152px;
}
.nt_258x152 .img {
    width: 258px;

    height: 152px;
}
.nt_258x152 .title {
    font-size: 18px;
    line-height: 20px;
    width: 238px;
    padding: 10px 10px;
}
.navthumb .subtitle {
    font-size: 60%;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 3px 5px;
    text-shadow: none;
}
