{style}
{literal}
.items
{
border:1px solid gray;
border-radius:15px;
position: relative;
background:rgba(255,255,255,0.8);
background: linear-gradient(45deg, #f5f5f5, white);
}
.items:hover
{
box-shadow: 0 0 8px 0 rgba(0,0,0,1);
}

{/literal}
{/style}

<CENTER>
    <p>У вас {$balance} кредитов.<a href="https://myradio.su/buy">Пополнить</a></p>
    <br>
</CENTER>
<hr>
<CENTER>
    

    {$i=99} 

<table style="text-align:center;border-spacing: 10px;border-collapse: separate;width:90%;">
    {foreach from=$rad_items item='shop_item'}
    {$i=$i+1}
    {if ($i>0)}
    {$i=0}
    {if ($i!=99)}
    </tr>
    {/if}
    <tr>
    {/if}
    
        <td class="items" style="{$shop_item->style}" onClick="{$shop_item->click}">
         <CENTER>
            <img src="{$shop_item->src}" width=180px>
            <BR>
                <b>{$shop_item->iname}</b>
            <div style="position:absolute;bottom:-10px;padding:15px;right:-10px;border-radius:100%;color:white;background-image:url(https://avatanplus.com/files/resources/original/568f4ccb5fb5e1521fc3fa80.png);background-size:100%;">
             <font style="font-size:30px;">{$shop_item->price-$shop_item->tps}</font><p>кр./мес.</p>   
            </div>
            
            <hr>
            {$shop_item->des}
            <BR><BR>
                </CENTER>
        </td>
        {if ($i>4)}
    
    
    {/if}
    
    {/foreach}
</table>
</CENTER>
<BR><BR>
<hr>
<CENTER>
   {$i=99} 

<table style="text-align:center;border-spacing: 10px;border-collapse: separate;width:90%;">
    
    {foreach from=$op_items item='shop_item'}
    {$i=$i+1}
    {if ($i>4)}
    {$i=0}
    {if ($i!=99)}
    </tr>
    {/if}
    <tr>
    {/if}
    
        <td class="items" style="{$shop_item->style}width:150px;" onClick="{$shop_item->click}">
         <CENTER>
            <img src="{$shop_item->src}" width=180px>
            <BR>
                <b>{$shop_item->iname}</b>
            <hr>
            {$shop_item->des}
            <BR><BR><BR>
             <div style="position:absolute;bottom:-23px;padding:13px;width:50px;height:50px;right:-28px;border-radius:100%;color:white;background-image:url(https://avatanplus.com/files/resources/original/568f4ccb5fb5e1521fc3fa80.png);background-size:100%;">
             <font style="font-size:30px;">{$shop_item->price}</font><p>кр.</p>   
            </div>
         </CENTER>
        </td>
        {if ($i>4)}
    
    
    {/if}
    
    {/foreach}
   
</table>
</CENTER>    