{style}
{literal}
.buy_button
{
width:100%;
max-width:120px;
color:black!important;
text-shadow:none!important;
border:1px solid black!important;
border-radius:6px!important;
}
.buy_button:hover
{
box-shadow: 0 0 8px 0 rgba(0,0,0,1);
}
{/literal}
{/style}
<CENTER>
<p>У вас {$balance} кредитов</p>

<hr>
<table style="border-spacing: 10px;border-collapse: separate;width:100%;max-width:300px;">
    <tr onClick="window.location.href='https://google.ru'" style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">

        <td>
            <CENTER>
         <img src="http://download.seaicons.com/icons/custom-icon-design/pretty-office-11/512/coin-us-dollar-icon.png" width=50px style="float:left;margin-right:20px;">
         <h2>Купить 10 кредитов</h2>  
         <p>за 10 рублей</p>
         {$link1}
         </CENTER>
        </td>
    </tr>
   <tr style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
       
        <td>
            <CENTER>
         <img src="http://download.seaicons.com/icons/custom-icon-design/pretty-office-11/512/coin-us-dollar-icon.png" width=50px style="float:left;margin-right:20px;">
         <h2>Купить 100 кредитов</h2>  
         <p>за 100 рублей</p>
         {$link2}
         </CENTER>
        </td>
    </tr>
 <tr style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
 
        <td>
            <CENTER>
<img src="http://download.seaicons.com/icons/custom-icon-design/pretty-office-11/512/coin-us-dollar-icon.png" width=50px style="float:left;margin-right:20px;">
         <h2>Купить 500 кредитов</h2>  
         <p>за 500 рублей</p>
         {$link3}
         </CENTER>
        </td>
    </tr>
 <tr style="border:1px solid gray;border-radius:15px;-moz-box-shadow:0 0 10px rgba(0,0,0,0.8); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); box-shadow:0 0 2px rgba(0,0,0,0.8);">
 
        <td>
            <CENTER>
<img src="http://download.seaicons.com/icons/custom-icon-design/pretty-office-11/512/coin-us-dollar-icon.png" width=50px style="float:left;margin-right:20px;">
         <h2>Купить 1000 кредитов</h2>  
         <p>за 1000 рублей</p>
         {$link4}
         </CENTER>
        </td>
    </tr>
    
</table>
</CENTER>
<hr>
<CENTER>
<img src="https://vshk.ru/upload/medialibrary/bb1/bb1adfe2d4e71919616a7c71728dabc3.png" style="width:70%;max-width:450px;">
</CENTER>