<div class="ow_small clearfix" style="display: inline-block;margin-bottom: 15px;">
   <span class="ow_left" style="margin-right: 4px;">{text key='uptolike+share'}</span>
 
{$u_script}

<script type="text/javascript">
htmlUrl='<a href="https://www.intrigu.com?language_id=2">Знакомства с иностранцами</a>';
</script>
</div>

