<table class="ow_table_3 ow_automargin ow_smallmargin">
    <tr class="ow_tr_first ow_tr_last">
        <td class="ow_label">{text key='usercredits+credits_balance'}</td>
        <td class="ow_value"><a href="">{$balance}</a> {text key='usercredits+credits'}</td>
    </tr>
</table>