.profile-progressbar
{
    border-radius: 2px;
    border-top: 1px solid #B2B2B2;
    border-right: 1px solid #9E9E9E;
    border-bottom: 1px solid #8C8C8C;
    border-left: 1px solid #9E9E9E;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAD5JREFUGFeNxKENAEEIBMDtvzNyQSAwJEgMBoEl2W/hRwx2l7g7YmaIqiIyk4gIQkT+994jVJUwM8Ldie7mB+JWRga/Z3gIAAAAAElFTkSuQmCC) repeat-x;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.profile-progressbar-complete
{
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAADxJREFUGFdj+H/u0n8I8e/AcSCxeA2QmDQXSPTO+M9wgUmUeOIik9h/hutM4v8ZHjJL/md4DSJ+M0n9BwBuWS9gLM0JcAAAAABJRU5ErkJggg==) repeat-x;
    position: absolute;
    z-index: 10;
}

.profile-progressbar-caption
{
    position: absolute;
    z-index: 11;
    color: white;
}
